.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh; /* toàn màn hình */
    width: 220px;
    background-color: #f5f5f5;
    padding: 10px;
}
.sidebar a {
    padding: 8px;
    text-decoration: none;
    color: #333;
    display: block;
}
.sidebar a:hover {
    background-color: #ddd;
}
.account-section {
    font-size: 0.9em;
}
